<footer class="footer-nav">
    <a href="/principal">
        <i class="bi bi-house-door 
           <%= (typeof currentPage !== 'undefined' && currentPage === 'principal') ? 'active' : '' %>">
        </i>
    </a>
    
    <a href="/chats">
        <i class="bi bi-chat-dots 
           <%= (typeof currentPage !== 'undefined' && currentPage === 'chats') ? 'active' : '' %>">
        </i>
    </a>
    
    <a href="/calendario">
        <i class="bi bi-calendar-event 
           <%= (typeof currentPage !== 'undefined' && currentPage === 'calendario') ? 'active' : '' %>">
        </i>
    </a>
    
    <a href="/perfil">
        <i class="bi bi-person 
           <%= (typeof currentPage !== 'undefined' && currentPage === 'perfil') ? 'active' : '' %>">
        </i>
    </a>
</footer>